<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<!-- 	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>ece1779.appengine.HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>
	<servlet>   
		<servlet-name>Clock1</servlet-name>
		<servlet-class>ece1779.appengine.Clock1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Clock1</servlet-name>
		<url-pattern>/clock1</url-pattern>
	</servlet-mapping>
	<servlet>   
		<servlet-name>Clock2</servlet-name>
		<servlet-class>ece1779.appengine.Clock2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Clock2</servlet-name>
		<url-pattern>/clock2</url-pattern>
	</servlet-mapping>
 	<servlet>   
		<servlet-name>Clock3</servlet-name>
		<servlet-class>ece1779.appengine.Clock3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Clock3</servlet-name>
		<url-pattern>/clock3</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>prefs</servlet-name>
	    <servlet-class>ece1779.appengine.PrefsServlet</servlet-class>
	</servlet>
  	<servlet-mapping>
    		<servlet-name>prefs</servlet-name>
    		<url-pattern>/prefs</url-pattern>
  	</servlet-mapping>
	<servlet>
	    <servlet-name>onlyadmin</servlet-name>
	    <servlet-class>ece1779.appengine.OnlyAdmin</servlet-class>
	</servlet>
  	<servlet-mapping>
    		<servlet-name>onlyadmin</servlet-name>
    		<url-pattern>/onlyadmin</url-pattern>
  	</servlet-mapping>
	<servlet>
    	<servlet-name>fileupload</servlet-name>
    	<servlet-class>ece1779.appengine.fileupload.FileUploadServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
   	 	<servlet-name>fileupload</servlet-name>
    	<url-pattern>/FileUpload</url-pattern>
  	</servlet-mapping>
 -->

<!--   	<security-constraint>
    		<web-resource-collection>
      			<web-resource-name>prefs</web-resource-name>
      			<url-pattern>/prefs</url-pattern>
    		</web-resource-collection>
    		<auth-constraint>
      			<role-name>*</role-name>
    		</auth-constraint>
  	</security-constraint> -->
	
<!-- 	<security-constraint>
    		<web-resource-collection>
      			<web-resource-name>onlyadmin</web-resource-name>
      			<url-pattern>/onlyadmin</url-pattern>
    		</web-resource-collection>
    		<auth-constraint>
      			<role-name>admin</role-name>
    		</auth-constraint>
  	</security-constraint> -->
	
	<servlet>
    	<servlet-name>GameContents</servlet-name>
    	<servlet-class>ece1779.appengine.GameContents</servlet-class>
  	</servlet>
  	<servlet-mapping>
   	 	<servlet-name>GameContents</servlet-name>
    	<url-pattern>/GameContents</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>PopulateTestData</servlet-name>
    	<servlet-class>ece1779.appengine.PopulateTestData</servlet-class>
  	</servlet>
  	<servlet-mapping>
   	 	<servlet-name>PopulateTestData</servlet-name>
    	<url-pattern>/populatetestdata</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>PlayGame</servlet-name>
    	<servlet-class>ece1779.appengine.PlayGame</servlet-class>
  	</servlet>
  	<servlet-mapping>
   	 	<servlet-name>PlayGame</servlet-name>
    	<url-pattern>/playgame</url-pattern>
  	</servlet-mapping>
  	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
        <servlet-name>welcome</servlet-name>
        <jsp-file>/site/welcome.jsp</jsp-file>
    </servlet>
	
	<servlet>
        <servlet-name>header</servlet-name>
        <jsp-file>/site/header.jsp</jsp-file>
    </servlet>
	
	<servlet>
        <servlet-name>stats</servlet-name>
        <jsp-file>/site/stats.jsp</jsp-file>
    </servlet>
	
	<servlet>
        <servlet-name>view_games</servlet-name>
        <jsp-file>/site/view_games.jsp</jsp-file>
    </servlet>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>